# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ERGOFLOWWINGA_LEFT
    def_bool $(shields_list_contains,ergoflowwinga_left)

config SHIELD_ERGOFLOWWINGA_RIGHT
    def_bool $(shields_list_contains,ergoflowwinga_right)